*{
    margin: auto;
}

body {
    background-color: black;
    max-width: 950px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    line-height: 4em;
}

*{
    -webkit-text-fill-color: white;
}


nav {
	overflow: hidden;
	float: center;
}

nav li {
	float: right;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: black;
	text-shadow: 0 1px 0 white;
    }
#reg {
    font-size: 50px;
    text-align: center;
}
input {
    color: darkgray;
    font-size: 20px;
    display: block;
    margin: auto;
}
label {
    width: 250px;
    height: 75px;
    display: block;
    margin: auto;
    }

    main {
        display: block;
        margin: auto;
    }

    main aside {
        min-width: 40%;
    }

