:root{
    font-family: 'American Typewriter', serif;
    font-size: italic;
    --main-color: black;
    --accent-color: black;
    scroll-behavior: smooth;
}

h1, h3, p, div, nav, header, footer {
    margin: auto;
    padding: 0;
}

submit .registra {
    background-color: black;
}

body {
    background: url(../img/images.jpg);
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 ;
    background-color: black;
}

* { -webkit-text-fill-color: white;
}

#start_page_text {
    display: block;
    width: 300px;
    height: 140px;
    text-align: center;
    justify-content: space-around;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header nav .logo {
    font-family: 'Luminari', fantasy;
    text-shadow: 5px 5px;
    font-size: 4rem;
    text-align: center;
    margin-bottom: -1rem;  
}

header nav .menu {
	display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
}

header nav .menu a {
    border: 1px solid transparent;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-color);
}

@media (min-width: 360px) {
    header nav {
        display: flex;
        align-items: center;
    }

    header .menu {
        flex: 1;
    }
}

header nav .menu a:hover {
    border-bottom: 1px solid var(--accent-color);
}

main {
    display: block;
    margin: auto;
    min-width: 100%;
}

#reg {
    font-size: 30px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    margin: auto;
}

input {
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

label {
    background-color: rgba(0,0,0,0.5);
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

textarea {
    width: 91%;
    padding: 30px;
    background-color: rgba(0,0,0,0.5);
    border: 3px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: auto;
}

input[type=submit] {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    float: center;
    margin: auto;
}

input[type=submit]:hover {
    background-color: lightgray;
}

footer .fb-share-button {
    width: 100%;
    text-align:  center;
}

p {
    text-align:  center;
    width: 100%;
}