:root{
    font-family: 'American Typewriter', serif;
    font-size: italic;
    --main-color: black;
    --accent-color: black;
    scroll-behavior: smooth;
}

h1, h3, p, div, nav, header, footer {
    margin: auto;
    padding: 0;
}

submit .registra {
    background-color: black;
}

body {
    background: url(../img/radioservice.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0;
}

* { -webkit-text-fill-color: black;
}

#clock {
    font-size: 30px;
    width: 100%;
    text-align: right;
    margin: auto;
}

#start_page_text {
    display: block;
    width: 300px;
    height: 140px;
    text-align: center;
    justify-content: space-around;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    font-family: 'Luminari', fantasy;
    font-style: italic;
    text-shadow: 2px 2px;
    font-size: 4rem;
    text-align: left;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: flex;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
    font-family: 'Luminari', fantasy;
    font-size: 40.5px;
    margin: auto;
}

@media (min-width: 360px) {
    ul {
        display: flex;
        align-items: center;
    }

    li {
        flex: 1;
    }
}

li a:hover {
    background-color: green;
}

.active {
    background-color: red;
}

main {
    display: block;
    margin: auto;
    min-width: 100%;
}

#reg {
    font-size: 30px;
    text-align: center;
    margin: auto;
}

input {
    background-color: white;
    font-size: 20px;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}

label {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

textarea {
    width: 91%;
    padding: 30px;
    background-color: white;
    border: 3px solid black;
    border-radius: 4px;
    resize: vertical;
    margin: auto;
}

input[type=submit] {
    background-color: white;
    border: 3px solid black;
    color: white;
    padding: 10px 10px;
    border-radius: 1px;
    cursor: pointer;
    float: center;
    margin: auto;
}

input[type=submit]:hover {
    background-color: gray;
}

footer .fb-share-button {
    margin: auto;
    text-align: center;
    display: block;
    border: 1px solid;
    padding: 10px;
}

p {
    display: inline-block;
    text-align: bottom;
    width: 100%;
    margin: auto;
}