body {
    background-color: black;
}
*{
    -webkit-text-fill-color: white;
}
nav {
	overflow: hidden;
	float: ceter;
}

nav li {
	float: right;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: black;
	text-shadow: 0 1px 0 white;
    }
#start_page_text {
    font-size: 120px;
    text-align: center;
}
#start_page {
    font-size: 60px;
    text-align: center;
}
img {
    width: 350px;
    height: 230px;
    display: block;
    margin: auto;
}
#information{
    text-align: center;
    font-size: 30px;
}

