:root{
scroll-behavior: smooth;
}

.logo{
    font-family: 'Luminari', fantasy;
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    margin-bottom: -1rem;  
}

body {
    max-width: 100%;
    margin: auto;
    padding: 0 ;
    background-color: black;
}
* { -webkit-text-fill-color: white
}

#start_page_text { 
    background: url(../img/images.jpg);
    display: block;
    width: 300px;
    height: 140px;
    text-align: center;
    justify-content: space-around;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header nav .menu {
	display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

header nav .menu a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 5px;
    color: white;
}

header nav .menu a:hover {
    border-bottom: 1px solid white;
}
input, textarea, button{
    -webkit-text-fill-colorb: black;
}

.intro h2 {
    font-family: 'American Typewriter', serif;
    font-style: italic;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.intro img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.music-list article img {
    display: flex;
    flex-direction: column;
    width: 100%;
}

article{
    border: 1px solid black;
}

ul.menu li{
	display: contents;
		margin-left: 100px;
}

.music-list article .buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
}

@media (min-width: 560px) {
    .music-list {
        border-image-width: initial;
        display: table-column;
        grid-template-columns: column;
        margin: 5px;
        grid-gap: 10px;
    }
}

@media (min-width: 200px) {
    .music-list {
        grid-template-columns: column;
    }
}