*{
    margin: auto;
}

body {
    background-color: black;
    max-width: 980px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    display: block;
}

*{
    -webkit-text-fill-color: white;
}

header {
    background-image: url("../img/images.jpg");
    background-position: center center;
    background-size: cover;
    height: 250px;
    display: block;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%
}

header h1 {
    font-size: 10rem;
    color: white;
}

nav ul {
    list-style-type: none;
    list-style-position: inside;
    margin: auto;
    padding: 50px;
}

aside img {
    display: block;
    width: 100%;
}

footer p {
    text-align: center;
}
nav {
	overflow: hidden;
    float: left;
}

nav li {
	float: left;
	list-style: none;
    height: 100px
}

nav li a {
	font-size: 30px;
	font-weight: bold;
	text-decoration: whitesmoke;
	padding: 30px 30px;
	color: black;
	text-shadow: 0 1px 0 white;
    }

main {
    display: block;
    margin: auto;
}

main aside {
    min-width: 10%;
}

#start_page_text {
    font-size: 120px;
    text-align: center;
}

#start_page {
    font-size: 60px;
    text-align: center;
}

img {
    width: 350px;
    height: 230px;
    display: block;
    margin: auto;
}

#information{
    text-align: center;
    font-size: 30px;
}

#infoclip{
    text-align: center;
    font-size: 30px;
}

.video_info {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: block;
}

.video_info iframe,
.video_info object,
.video_info embed {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 230px;
    margin: auto;
    display: block;
}

.video_info_a {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: auto;
    overflow: hidden;
    margin: auto;
    display: block;
}

.video_info_a iframe,
.video_info_a object,
.video_info_a embed {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 230px;
    margin: auto;
    display: block;
}

p {
    text-indent: 150px;
    text-align: justify;
}

h3 {
    color: white;
    text-align: center;
    font-size: 50px;
}