:root{
    --main-color: black;
    --accent-color: black;
    scroll-behavior: smooth;
}

h1, h3, h4, p, div, nav, header, footer {
    margin: auto;
    padding: 0;
}

body {
    background: url(../img/images.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0;
}

* { -webkit-text-fill-color: white;
}

#start_page_text {
    display: flex;
    width: 300px;
    height: 140px;
    text-align: center;
    justify-content: space-around;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
}

.logo {
    font-family: 'Luminari', fantasy;
    font-style: italic;
    text-shadow: 5px 5px;
    font-size: 4rem;
    text-align: left;
    margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: flex;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 1px 1px;
  text-decoration: none;
  font-family: 'Luminari', fantasy;
  font-size: 50px;
  margin: auto;
}

@media (min-width: 360px) {
    ul {
        display: flex;
        align-items: center;
    }

    li {
        flex: 1;
    }
}

li a:hover {
  background-color: #111;;
}

.active {
  background-color: red;
}

main section article audio controls {
    width: 100%;
    margin: auto;
}

#clock {
    font-size: 30px;
    width: 100%;
    text-align: right;
    margin: auto;
}

.playaudio {
    display: flex;
    width: 100%;
    margin: auto;
}

.txt {
    display: flex;
    text-align: left;
    width: 100%;
}

footer .fb-share-button {
    margin: auto;
    text-align: center;
    display: block;
    border: 3px solid;
    padding: 10px;
}

p {
    display: inline-block;
    text-align: bottom;
    width: 100%;
    margin: auto;
}
